@import 'variables';

.card-course-item {
   margin-top: 16px;
}

.avt-user {
   width: 28px;
   height: 28px;
   border-radius: 50%;
   margin-right: 4px;
}

#navbar-logo {
   font-size: 25px;
}

.checkbox-select-all-options {
   width: 150px;
   margin: 0 10px;
}