{{!-- Lấy từ bootstrap --}}


<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a id="navbar-logo" class="navbar-brand text-white" href="#">Education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://yt3.ggpht.com/wgneNTiW753q5G6XMnjyNLAzReR4TVFJryTKTpIqJefrKMyhABPwfnyNWIoT5NNGstFlva1tgw=s88-c-k-c0x00ffffff-no-rj" alt="" class="avt-user">
          Chức năng
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/courses/create">Tạo khoá học</a></li>
          {{!-- <li><hr class="dropdown-divider"></li> --}}
          <li><a class="dropdown-item" href="/me/courses">Khoá học của tôi</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>